/*paleta de colores*/
/*import*/
.navbar__margin__top {
  padding-top: 5rem; }

.navbar--contratarServicio {
  background-color: #324b3c;
  opacity: 85%;
  color: #ffffff; }

.navbar--contratarServicio:hover {
  background-color: #324b3c;
  color: #ffffff;
  opacity: 105%; }
