/*paleta de colores*/
/*import*/
.navbar__padding__top {
  padding-top: 4.15rem; }

.navbar--contratarServicio {
  background-color: #324b3c;
  opacity: 85%;
  color: #ffffff; }

.navbar--contratarServicio:hover {
  background-color: #324b3c;
  color: #ffffff;
  opacity: 105%; }

.img__min__height {
  min-height: 8rem; }
