.index__cards__container__responsive {
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    margin: 0rem auto;      
    width: 95%;
}

@media (min-width: 576px) {
    .index__cards__container__responsive {
        display:grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 1.5rem;
        row-gap: 1.5rem;
    }
}

.img--article {
    width: 100%;
}