.navbar__margin__top {
    padding-top: 5rem;
}

.navbar--contratarServicio {
    background-color: $greenColor;
    opacity: 85%;
    color: $whiteColor;
}

.navbar--contratarServicio:hover {
    background-color: $greenColor;
    color: $whiteColor;
    opacity: 105%;
}
