/*paleta de colores*/
$greenColor     : #324b3c;
$greenButton    : #93c54b;
$greenBorder    : #3b3834;
$greenGradient  : #6e8d7b;
$greyColor      : #49443f;
$greyShadow     : #6d6c6b;
$greyH1TextColor:#637269;
$whiteColor     : #ffffff;
$whiteBoxShadow : #313131;

/*import*/
@import "navbar";
@import "carousel";
@import "indexCards";
@import "footer";
@import "privacidad";
@import "quienesSomos";
@import "servicios";
@import "formConsulta";
@import "formUsuarios";
@import "nomina";