/*paleta de colores*/
$greenColor     : #324b3c;
$greenBorder    : #3b3834;
$greenGradient  : #6e8d7b;
$greyColor      : #49443f;
$greyShadow     : #6d6c6b;
$greyH1TextColor:#637269;
$whiteColor     : #ffffff;
$whiteBoxShadow : #313131;

/*import*/
@import "navbar";
@import "carousel";